/* 
	Resets defualt browser settings
	reset.css
*/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }*/
/*:focus { outline:0; }*/
/*a:active { outline:none; }*/
/*body { line-height:1; color:black; background:white; }*/
ol,ul { list-style:none; }
/*table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }*/

/*
	Page Style
*/
/*body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(../images/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}*/

#container {
	width:470px;
        height:1300px;
	padding:10px;
	margin:0 auto;
	position:relative;
        //background: url("../images/background.png") repeat scroll center top #EFEFEF;
       color: #434343;
	z-index:0;
       // border:1px solid;
}



#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

/*
	Slideshow style
*/

#slides2{
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container23 {
	width:470px;
	height:1300px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides2 .slide2 {
	padding:20px;
	width:470px;
	height:1350px;
	display:block;
        //border:1px solid
}

/*
	Next/prev buttons
*/
#slides2 .next,#slides2 .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides2 .next {
	left:480px;
}

/*
	Pagination
*/

/*.pagination {
	margin:26px auto 0;
	width:300px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
       // background-image:url(../images/pagination.png);
        
}

.pagination li a {
	display:block;
	width:4px;
	height:4px;
	padding-top:10px;
	//background-position:0 0;
	float:left;
	overflow:hidden;
        //  color:#599100;
}

.pagination li.curr a { 
	//background-position:0 -12px;
        //list-style:none;
        //border:2px solid;
}*/

/*
	Footer
*/

/*#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}


	Type and anchors


a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

h1 {
	font-size:2em;
}

p {
	font-size:1.3em;
}*/

#slides2 .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}